.tbase{
  font-size: 12px;
  font-weight: 500;
}
.t1{
  @include media-breakpoint-up(md) {
    font-size: 140px;
    line-height: 0.8;
  }
}

.t2{
  @include media-breakpoint-up(md) {
    font-size: 50px;
    line-height: 1;
  }
}
.t3{
  @include media-breakpoint-up(md) {
    font-size: 30px;
    line-height: 1;
  }
}
.text-italic{
  font-style: italic;
}
