.tbase{
  font-size: 12px;
  font-weight: 500;
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
}
.t1{
  font-size: 60px;
  line-height: 0.8;
  @include media-breakpoint-up(md) {
    font-size: 140px;
    line-height: 0.8;
  }
  @include media-breakpoint-up(xl) {
    font-size: 160px;
    line-height: 0.8;
  }
}
.t1b{
  font-size: 22px;
  line-height: 0.8;
  @include media-breakpoint-up(md) {
    font-size: 70px;
    line-height: 0.8;
  }
  @include media-breakpoint-up(xl) {
    font-size: 78px;
    line-height: 0.8;
  }
}
.t2{
  font-size: 50px;
  line-height: 1;
  @include media-breakpoint-up(md) {
    font-size: 50px;
    line-height: 1;
  }
}
.t2b{
  font-size: 20px;
  line-height: 1;
  @include media-breakpoint-up(md) {
    font-size: 50px;
    line-height: 1;
  }
}
.t3{
  font-size: 20px;
  line-height: 1.2;
  @include media-breakpoint-up(md) {
    font-size: 30px;
    line-height: 1;
  }
}

.t4{
  font-size: 20px;
  @include media-breakpoint-up(md) {
    font-size: 26px;
    line-height: 1.2;
  }
  @include media-breakpoint-up(xl) {
    font-size: 30px;
    line-height: 1.2;
  }
}
.t5{
  font-size: 14px;
  @include media-breakpoint-up(md) {
    font-size: 18px;
    line-height: 1.4;
  }
  @include media-breakpoint-up(xl) {
    font-size: 24px;
    line-height: 1.4;
  }
}
.text-italic{
  font-style: italic;
}
.text-no-italic{
  font-style: normal!important;
}
h1, h2 {
   font-family: $font-family-headings;
   font-weight: 300;
}
.serif {
  font-family: $font-family-headings!important;
  font-weight: 300;
}
.sans {
  font-family: $font-family-base!important;
}
