@import "default";

body {
  @extend .tbase;
  color: $blue;
}


h1, h2, h3 {
  margin-bottom: 30px;
}

//.landing-page{
//  padding: 0 15px ;
//  @include media-breakpoint-up(md) {
//    padding: 0;
//  }
//}
.container {

  @include media-breakpoint-down(md) {
    padding: 0 15px;
  }
}

/**
============================================HEADER
 */
.site-title {
  span {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  svg {
    height: 35px;
    width: auto;
  }

  margin: 0 60px;
}

header {
  //background-color: $yellow;

  //background: linear-gradient(180deg, rgba($yellow, 1) 50%, rgba($yellow, 0) 100%);
  background-color: $yellow;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;

  .site-title {
    cursor: pointer;
  }
}

.main-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 15px 0;
  width: 100%;
}

.site-title {
  flex: 0;
}

// Header navigation styling
.header-nav {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 1;
  transition: opacity 0.4s;
  @extend .d-none;
  @extend .d-md-flex;

  @include media-breakpoint-up(md) {
    gap: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    gap: 2rem;
  }

  a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.4s;
    font-size: 12px;

    &:hover {
      text-decoration: underline;
      color: $teal;
    }
  }
}

.menu-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  @include media-breakpoint-up(md) {
    right: 30px;
  }
}

/**
============================================arrow link
 */
.arrow {
  path, line {
    stroke: $blue;
  }
}

.arrow-link {
  display: flex;
  align-items: center;
  justify-content: center;

  .label {
    font-family: $font-family-headings;
    font-style: italic;
    position: relative;
    @extend .t4;
    z-index: 2;
  }

  .icon {
    border: solid 1px $white;
    border-radius: 40px;
    padding: 5px 20px;
    opacity: 0.5;
    position: relative;
    z-index: 1;
    margin-left: -10px;
  }
  &.no-cta{
    .icon {
      border: none!important;
    }
  }
}


.arrow-link-alt {
  flex-direction: column;

  .icon {
    margin-left: 0;
    margin-top: -15px;
  }
}

.location-website {
  .icon {
    border-color: $blue;
  }
}

/**
============================================modal
 */
body.modal-open {
  overflow: hidden;
  height: 100vh;

  .header-nav {
    opacity: 0;
  }

  header {
    background-color: transparent;
    background: none;
  }

}

.header-padding {
  padding-top: 80px;
  @include media-breakpoint-up(xl) {
    padding-top: 110px;
  }
}

.modal-overlay {
  position: fixed;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: $gray_darker;
  @extend .header-padding;
  color: $yellow;

  .modal-title {
    display: block;
    text-align: center;
    margin-bottom: 30px;
    @extend .t1;
  }
}

.locations-list {
  border-top: solid 1px $gray_light;
  border-bottom: solid 1px $gray_light;

  @include media-breakpoint-up(md) {
    display: flex;
    padding: 0 30px;
  }

  a {
    color: $gray_light;
    display: block;
    padding: 30px 30px 15px 30px;
    flex: 1 1 100%;
    max-width: 100%;

    border-bottom: solid 1px $gray_light;
    @include media-breakpoint-up(md) {
      flex: 1 1 25%;
      max-width: 25%;
      border: none;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .icon {
    border-color: $gray_light;
  }

  .arrow-right {
    path, line {
      stroke: $gray_light;
    }
  }

  .location-name {
    text-transform: uppercase;
    display: block;
    text-align: center;
  }

  .location-thumbnail {
    img {
      max-width: 100%;
      height: auto;
    }

    margin-bottom: 15px;
  }
}


/**
============================================SECTIONS
 */
section {

  @include media-breakpoint-up(md) {
    min-height: 100vh;
  }
  //max-height: 768px;
  @extend .header-padding;
}

.no-min-h {
  min-height: auto;
}

body {
  background-color: $yellow;
}

img {
  max-width: 100%;
  height: auto;
}

/**
============================================hero
 */
.welcome-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: auto;
  max-height: 768px;
  position: relative;
  padding-bottom: 15px;

  .container {
    height: 100%; // 60% dell'altezza della sezione
    // padding: $grid-gutter-width;
    position: relative;
    overflow: hidden;

  }

  picture {
    position: relative;

    width: 100%;
    height: 100%;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 60px;
      overflow: hidden;
    }
  }

  .section-title {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 70px 15px;
    align-items: start;

    span {
      display: block;

    }

    @include media-breakpoint-up(md) {
      align-items: center;
      justify-content: center;
      span {
        display: block;
        text-align: center;
      }
    }
  }
}


/**
----------------headline
 */
.headline {
  display: flex;
  align-items: center;

  span {
    display: block;
    flex: 1;
    position: relative;
    border-bottom: solid 1px $blue;
  }

  .section-title {
    flex: 0;
    white-space: nowrap;
    padding: 0 15px;
    margin-bottom: 0px;
    margin-top: 3px;
  }
}


/**
---details
 */
.concept-section {
  //img {
  //  max-width: 300px;
  //  height: auto;
  //
  //}

  .roundimage {
    border-radius: 250px;
  }
}

.discover {
  svg {
    width: 100%;
    height: auto;
  }

  padding: 60px 0;
  //border-top: solid 1px $blue;
  //border-bottom: solid 1px $blue;
  @include media-breakpoint-up(sm) {
    border: none;
  }
}

.art {
  svg {
    width: 100%;
    height: auto;

    path {
      fill: $indigo;
    }
  }
}

.whereabouts-section {
  img {
    max-width: 100%;
    height: auto;
    mix-blend-mode: multiply;
  }

  @include media-breakpoint-down(xs) {
    picture {
      margin: 0 -15px;
      width: 100vw;
      display: block;
    }
  }
}

/**
-----------------location card
 */
.location {

  @include media-breakpoint-up(md) {
    padding-top: 90px;
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.location-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.picture-wrapper {
  display: block;
  padding-bottom: $grid-gutter-width;
}

.padding-resp {
  @include media-breakpoint-up(sm) {
    padding: 60px !important;
  }
}

.padding-resp-2 {
  @include media-breakpoint-up(sm) {
    padding: 0 60px !important;
  }
}

.border-title {
  padding: 30px 0;
  border-bottom: solid 1px $blue;
  border-top: solid 1px $blue;
  margin: 0;
}

.location-link-big {

  border-bottom: solid 1px $blue;
  padding: 30px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.4s;

  .icon {
    border-color: $blue;
  }

  .location-title {
    margin-bottom: 15px;
    white-space: nowrap;

    span {
      white-space: nowrap;
    }
  }

  &:hover {
    text-decoration: none;
    color: $teal;
  }


  @include media-breakpoint-up(sm) {
    flex-direction: row;
    padding: 60px 0;

    .location-title {
      margin-bottom: 0;
      order: 2;
    }
    .location-link {
      order: 3;
    }
    &.link1, &.link3, &.link5 {
      justify-content: flex-end;

      .location-link {
        order: 1;
        margin-right: 30px;
      }
    }

  }


}

.art-design-section {
  padding-top: 90px;
  @include media-breakpoint-up(md) {
    padding-top: 180px;
  }

  .container {
    padding-bottom: 90px;
    @include media-breakpoint-up(md) {
      padding-bottom: 180px;
    }
  }

  .art {
    transform: translateY(-45px);
    @include media-breakpoint-up(md) {
      transform: translateY(-120px);
    }
    position: relative;

    h2 {
      display: none;
    }
  }

  .container {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    @include media-breakpoint-up(md) {
      border-top-left-radius: 90px;
      border-top-right-radius: 90px;
    }

    .flower {

      background-image: url("https://www.stage72.info/crossing-collection/repo/flower.png");
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      z-index: 0;
      width: 90vw;
      height: 90vw;
      @include media-breakpoint-up(md) {
        width: 33vw;
        height: 33vw;
        max-width: 400px;
        max-height: 400px;
      }
    }

    .flower-1 {
     left: 0;
      top: 0;
      transform: translateY(-21%) translateX(7%) rotate(180deg);
      @include media-breakpoint-up(md) {
        left: auto;
        right: 0;
        top: 0;
        transform-origin: center;
        transform: translateY(-50%) translateX(-20%) rotate(194deg);
      }
    }
    .flower-2 {
      display: none;
      @include media-breakpoint-up(md) {
        left: 0;
        top: 0;
        transform: translateY(80%) ;
        display: block;
      }

    }
  }

  .icon {
    border-color: $blue;
  }

  .swiper-pagination-bullet {
    background-color: $yellow;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    display: inline-block;
    position: relative;
    opacity: 0.2;
    border: solid 4px $teal;
    transition: all 0.4s;
  }
  .swiper-pagination-bullet-active {
    background-color: $blue;
    border: solid 1px $blue;
    opacity: 1;
  }
}

.location {
  border-top: solid 1px $blue;
  padding-top: 60px;
  position: relative;
  //overflow-y: hidden;

  .bg {
    position: absolute;
    z-index: 0;
    background-image: url("https://www.stage72.info/crossing-collection/repo/greca2.png");

    width: 50%;
    height: 100%;
    right: -15px;
    top: 40px;

  }

  @include media-breakpoint-up(md) {
    border-top: none;
    //padding-top: 0;
    overflow: hidden;
    .bg {
      position: absolute;
      z-index: 0;
      background-image: url("https://www.stage72.info/crossing-collection/repo/greca2.png");
      background-size: contain;
      width: 32%;
      height: 100%;
      right: 50%;
      transform: translateX(50%);
      top: 00px;

    }
  }

}

.scroll-gallery {
  margin: 0 -15px;
  width: 100vw;
  overflow: auto;
  margin-bottom: 30px;

  .content {
    display: flex;
    padding: 0 $grid-gutter-width/2 $grid-gutter-width;
    .art-slide-sm {
      flex: 0;
      padding: 0 $grid-gutter-width/2;
      picture {
        padding: 0;
      }
      img{
        height: 75vw;
        width: auto;
        max-width: none;
      }

    }
    //> picture, ._art-slide-sm {
    //  flex: 1 0 75vw; // flex-grow: 0, flex-shrink: 0, flex-basis: 90vw
    //  max-width: 75vw;
    //  padding: 0 $grid-gutter-width/2;
    //
    //  picture {
    //    padding: 0;
    //  }
    //}

    img {
      width: 100%;
      height: auto;
    }
  }
}

.art-slide {
  width: auto !important;
  height: auto;
}

.art-carousel {
  picture {
    display: inline;

    img {
      padding-bottom: 15px;
      height: 600px;
      width: auto;
      object-fit: cover;
    }
  }

  .swiper-slide {
    width: auto !important;
  }

}

/**
====================TEAM
 */

.team-section {
  position: relative;
  z-index: 2;
  margin-top: -210px;
  @include media-breakpoint-up(md) {
    margin-top: -190px;
  }
  //transform: translateY(-190px);
  .container {
    padding-top: 90px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    @include media-breakpoint-up(md) {
      padding-top: 180px;
      border-top-left-radius: 90px;
      border-top-right-radius: 90px;
    }
  }
}

.rounded-box {
  border-radius: 45px;

  @include media-breakpoint-up(md) {
    border-radius: 90px;
  }
}

#partners {
  background: linear-gradient(0deg, rgba($blue, 1) 0%, rgba($blue, 0) 100%);
  position: relative;

  .container {
    position: relative;
    z-index: 2;
  }

  .rounded-box {
    position: relative;
    z-index: 2;
    padding-bottom: 45px;
    @include media-breakpoint-up(md) {
      padding-bottom: 90px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;

    background-color: $teal;
    bottom: 0;
    left: 0;
    height: 91px;
    @include media-breakpoint-up(md) {
      height: 136px;
    }
  }
}

.partners-list {
  border-bottom: solid 1px $blue;
  border-top: solid 1px $blue;

  .partner {
    mix-blend-mode: multiply;
    padding: 5px;
    flex: 1 1 33.33333333%;
    width: 33.33333333%;
    @include media-breakpoint-up(sm) {
      flex: 1 1 20%;
      width: 20%;
    }
  }
}

.footer {
  border-top: solid 1px $gray;
}

.footer-nav {
  a {
    @extend .serif;
    @extend .text-white;
    @extend .text-italic;
    @extend .t2b;
    padding: 15px 0;
    display: block;
  }
}

.footer-logo {
  border-top: solid 1px $gray;

  svg {
    flex: 0 0 60%;
    width: 60%;
    height: auto;
  }

  @include media-breakpoint-up(sm) {
    svg {
      flex: 0 0 49%;
      width: 49%;
      height: auto;
    }
  }

}
